[submodule "src/fxp"]
	path = src/fxp
	url = https://github.com/giraffelibrary/fxp.git
[submodule "gimetadata"]
	path = gimetadata
	url = https://github.com/giraffelibrary/giraffe-gimetadata
[submodule "doc/examples"]
	path = doc/examples
	url = https://github.com/giraffelibrary/giraffe-examples
